* {
    box-sizing: border-box;
}

body {
    background-color: #FECD70;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    text-align: center;
}

.img1 {
    height: 300px;
    width: 450px;
    float: left;
}

.descrip {
    text-align: right;
}

.ingredients {
    clear: both;
}

.steps {
    text-align: justify;
    clear: both;
}

.souplink {
    text-align: center;
    clear: both;
}

.img2 {
    height: 300px;
    width: 450px;
    float: left;
}

.result {
    float:left
}